body { /*Category*/
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    flex-direction: column; /*stacks header & content vertically*/
}
/*Sidebar & Content*/
.main-container {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 150px); /* Subtract header height from 100vh */
    flex-wrap: wrap;
}
.category {
    flex-grow: 1;
    width: 250px;
    height: auto; /* Let height adjust */
    max-height: none;
    background-color: #f5f1e6;
    padding: 5px;
    border: 2px solid #E2D7C3;
    margin-left: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Enable wrapping */
}
  .category .section h2 {
    font-size: 20px;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.category .section:hover, .category .section.active {
    background: #d8c8a3; /*muted tan*/
}
/*Further info*/
.content {
    flex-grow: 1;
    width: 1000px;
    height: auto;
    padding: 10px;
    background-color: #FBF9F4; /*warm cream*/
    margin-right: 20px;
    margin-top: 0px;
    position: relative;
    border: 6px solid #E2D7C3; /*light taupe*/
}
.material-symbols-outlined {
    font-size: 30px;
}
/*tab decor*/
.window-tab {
    /*position: relative;*/
    width: 100%;
    height: 50px;
    background-color: #7393B3;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
/*search decor*/
.search-decor {
    /*position: relative;*/
    width: 100%;
    height: 70px;
    background-color: #D2B1A3;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
/*search bar decor*/
.white-search-bar {
    /*position: relative;*/
    width: 1200px;
    height: 35px;
    background-color: white;
    display: flex;
    border: 3px solid black;
    margin: 0 10px;
    flex-wrap: wrap;
}
.folder-box {
    width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #D2B1A3;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}
